<nav class="navbar navbar-expand-sm navbar-light" id="Navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="assets/bscarbrough.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Benjamin M. Scarbrough</a>
        </div>
        <div class="navbar-nav fixed-right">
            <a class="nav-item nav-link active" href="#Intro">Introduction</a>
            <a class="nav-item nav-link active" href="#About">About Me</a>
            <a class="nav-item nav-link active" href="#Experience">Experience</a>
            <a class="nav-item nav-link active" href="#Projects">Projects</a>
        </div>
    </div>
</nav>