::ng-deep .carousel{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.carousel img{
    width: 520px;
    height: 600px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;

}

::ng-deep .carousel-control-prev-icon:after{
    content: '<';
    color: midnightblue;
}

::ng-deep .carousel-control-next-icon:after{
    content: '>';
    color: midnightblue;
}

.carousel-technologies{
    display: inline;
}

.card-technologies{
    display: inline;
}

.carousel-caption{
    color:black;
}

.projects{
    padding: 150px;
    padding-top: 100px;
}

.text-muted{
    display: inline;
}

.card-group{
    padding-top: 30px;
}

h5{
    font-size: 15px;
}

/* Page Title CSS */

::ng-deep .mat-progress-bar-fill::after {
    background: purple;
}

.mat-progress-bar{
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.projects-title-name{
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
}