/* 
@author Benjamin Scarbrough
@version 1.0.0
This is the CSS file for the projects component of the bscarbrough.com project.
*/

.projects {
    padding: 150px;
    padding-top: 100px;
}

/* CSS for the Carousel. */

::ng-deep .carousel {
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.carousel img {
    object-fit: contain;
    max-height: 600px;
    /* width: 480px;
    height: 600px; */
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
}

::ng-deep .carousel-control-prev-icon:after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    height: 10px;
    width: 10px;
    color: midnightblue;
    box-sizing: border-box;
    display: block;
    transform: rotate(-135deg);
    float:left;
    cursor: pointer;
}

::ng-deep .carousel-control-next-icon:after {
    border-style: solid;
    border-width: 2px 2px 0 0;
    content: "";
    height: 10px;
    width: 10px;
    color: midnightblue;
    box-sizing: border-box;
    display: block;
    transform: rotate(45deg);
    float:right;
    cursor: pointer;
}

.carousel-caption a:link, .carousel-caption a:visited {
    font-size: 20px;
    font-family: serif;
    color: #512da8;
}

.carousel-caption {
    color:midnightblue;
}

.carousel-description {
    margin-top: -10px;
}

.carousel-technologies {
    display: inline;
    color: #512da8;
}

/* CSS for the Card Group. */

.card-group {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */ /* comment this line with the one above to reverse the wrap of the card group.*/
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card-individual{
    flex: 1 0 24%;
    border-radius: 0;
    margin-right: 6px;
    margin-bottom: 6px;
}

/* removes the right margin of every 4th card. */
.card-individual:nth-of-type(4n){
    margin-right: 0;
}

.card-group a:visited, .card-group a:link {
    color: #512da8;
    font-family: serif;
    font-size: 20px;
}

.card-description a {
    color:midnightblue;
}

.card-technologies {
    display: inline;
}

.card-technologies a{
    color: #512da8;
}

.text-muted {
    display: inline;
}

.card-individual:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 1;
}

/* Page Title CSS */

.mat-progress-bar {
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.projects-title-name {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #512da8;
}