<div class="about" id="About">
    <div class="about-content">
        <title>About Me</title>
        <p>Hello! I'm Benjamin (Ben for short), a software engineer based in Seattle, WA who has a love for space and
            cutting edge technologies.
            I am innovative, forward-thinking and have demonstrated ability to find and apply creative and elegant
            solutions to complex web and software
            development problems through the use of Agile methods and a great ability to work in a team environment.</p>

        At PopOver I determined and formulated policies for the company's
        technical direction, as well as overseeing, managing, and creating the SQL database and GitHub repository for
        the project.


        <p>Shortly after graduating from the <a href="https://www.pugetsound.edu" target="_blank">University of Puget
                Sound</a>
            I joined PopOver, the startup of another Puget Sound graduate, where I helped develop an app allowing
            college students
            to find local, miscellaneous jobs that fit in to their busy schedules. I have since shifted my focus to
            personal projects
            in order to keep my skills up during the COVID-19 pandemic</p>

        <p class="about-content-descriptor">A few technologies I have been working with recently are:</p>
        <div class="about-content-list">
            &nbsp;
            <ul>
                <li>JavaScript</li>
                <li>Angular</li>
                <li>Node.js</li>
                <li>MySQL</li>
            </ul>
            &nbsp;
            <ul>
                <li>HTML & CSS</li>
                <li>Python</li>
                <li>Java</li>
                <li>React</li>
            </ul>
        </div>
    </div>
</div>