<!-- 
@author Benjamin Scarbrough
@version 1.0.0
This is the HTML file for the about component of the bscarbrough.com project.
 -->

<!doctype html>
<div class="about" id="About">
    <div class="about-title">
        <div class="about-title-name">
            <p>About Me</p>
        </div>
        <br />
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="about-content">
        <p>
            I'm Benjamin (Ben), a Seattle-based software engineer with a love for spaceflight and cutting-edge
            technologies. What motivates me is my desire to enhance my personal technology skills and gain the expertise
            necessary to confront current and evolving aerospace industry challenges. I look forward to playing key
            roles in transformative project success via software innovation and the deployment of next-generation
            solutions and breakthrough applications.
        </p>

        <p>
            I’m forward-thinking, trustworthy, and have solid experience implementing creative solutions to complex
            problems via constructive interaction, collaboration, and the use of Agile Methodology. My work to date has
            provided me with opportunities to demonstrate my ability to design, develop, and maintain software, quickly
            learn new skills, and successfully and ethically work within teams, both as a member and as a leader.
        </p>

        <p class="about-content-descriptor">Here's a taste of the skills I bring to the Agile environment.</p>
        &nbsp;
        <div class="about-content-list">
            <ul>
                <li *ngFor="let tech of technologies">{{tech}}</li>
            </ul>
        </div>
    </div>
    <div class="about-my-image">
        <img src="{{my_image}}" class="about-image" width="400px" height="300px" />
        <div class="about-my-image-text">Mount Taranaki - 8261'</div>
    </div>
    <div class="logos-and-links">
        <!-- <a href="{{twitch_link}}" target="_blank">
            <img src="{{twitch_image}}" class="ll-image-left" width="50px" height="50px">
        </a> -->
        <a href="{{github_link}}" target="_blank">
            <img src="{{github_image}}" class="ll-image-left" width="50px" height="50px">
        </a>
        <a href="{{linkedin_link}}" target="_blank">
            <img src="{{linkedin_image}}" class="ll-image" width="60px" height="50px">
        </a>
        <a href="{{gmail_link}}" target="_blank">
            <img src="{{gmail_image}}" class="ll-image" width="55px" height="50px">
        </a>
    </div>
</div>