/* 
@author Benjamin Scarbrough
@version 1.0.0
This is the CSS file for the about component of the bscarbrough.com project.
*/

.about {
    padding: 150px;
    margin-bottom: 500px;
    display: block;
}

a:visited, a:link {
    color: #512da8;
}

/* CSS for the about text. */
.about-content {
    float: right; 
    width: 60%;
}

.about-content p {
    font-size: 18px;
}

.about-content-descriptor {
    margin-bottom: -20px;
    /* text-align: center; */
}

.about-content-list ul {
    /* text-align: center; */
    list-style: none;
    color: #512da8;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
}

.about-content-list li {
    flex: 0 1 25%;
}

/* CSS for the image next to the about text. */

.about-my-image {
    float:left;
    position: relative;
}

.about-my-image:hover {
    box-shadow: 10px 10px 50px #512da8;
}

.about-my-image:hover .about-my-image-text {
    opacity: 1
}

.about-my-image-text {
    position: absolute;
    font-style: italic;
    opacity: 0;
    top: 0;
    font-size: 15px;
    padding: 5px;
}

/* CSS for the social media logos under the image. */

.logos-and-links {
    float: left;
    clear: left;
}

.ll-image {
    padding: 6px;
}

.ll-image-left {
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
}

.ll-image:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

.ll-image-left:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

/* Page Title CSS */

.mat-progress-bar {
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.about-title-name {
    font-size: 30px;
    padding-bottom: 10px;
    text-align: center;
    color: #512da8;
}