.intro-hello p{
    font-size: 20px;
    padding-bottom: 10px;
}

.intro-name p{
    font-size: 60px;
    padding-left: 50px;
    font-weight: bold;
    padding-bottom: 5px;
    color: purple;
}

.intro{
    padding: 150px;
    margin-bottom: 550px;
}

.intro-i-like p{
    padding-left: 350px;
    font-size: 25px;
    padding-top: 10px;
}

.intro-summary p{
    width: 550px;
    padding-left: 50px;
    font-size: 15px;

}

.intro-details{
    float: left;
}

.rocket-gif{
    float: right;
    padding-top: 300px;
    padding-bottom: 150px;
    padding-left: 150px;
    opacity:0;
}

.rocket-gif:hover{
    opacity: 1;
    
}

