<div class="intro" id="Intro">
    <div class="intro-details">
        <div class="intro-hello">
            <p>Hello, my name is</p>
        </div>
        <div class="intro-name">
            <ngx-parallax-scroll [config]="ngParallaxConf">
                <p>Benjamin Scarbrough.</p>
            </ngx-parallax-scroll>
        </div>
        <div class="intro-i-like">
            <p>I love cutting edge technologies.</p>
        </div>
        <div class="intro-summary">
            <p>I am an Innovative and forward-thinking computer scientist currently residing in Seattle, Wa seeking
                to make a positive impact on
                the world through the discovery and development of next-generation technologies.
            </p>
        </div>
    </div>
    <div class="rocket-gif">
        <ngx-parallax-scroll [config]="ngParallaxConf">
            <img class="parallax-img" src="../../../assets/rocket.gif" />
        </ngx-parallax-scroll>
    </div>
</div>