<!--
@author Benjamin Scarbrough
@version 1.0.0
This is the HTML file for the intro component of the bscarbrough.com project.
 -->

<!doctype html>
<div class="intro" id="Intro">
    <div class="intro-details">
        <div class="intro-hello">
            <p>Hello, my name is</p>
        </div>
        <div class="intro-name">
            <ngx-parallax-scroll [config]="ngParallaxConf">
                <p>Benjamin Scarbrough.</p>
            </ngx-parallax-scroll>
        </div>
        <div class="intro-i-like">
            <p>I love cutting-edge technologies.</p>
        </div>
        <div class="intro-summary">
            <p>I am a driven, curious, and innovative software engineer currently residing in Seattle, WA specializing
               in developing high-quality applications, and programs.
            </p>
        </div>
    </div>
    <div class="rocket-gif">
        <ngx-parallax-scroll [config]="ngParallaxConf">
            <a href="{{rocket_link}}" target="_blank">
                <img class="parallax-img" src="{{rocket_gif}}" />
            </a>
        </ngx-parallax-scroll>
    </div>
</div>
