/* You can add global styles to this file, and also import other style files */
@import '~mdb-ui-kit/css/mdb.min.css';

body{
    background-color: snow;
    color: midnightblue;
    font-family: serif !important;
    
}

/* Changes the color of the progress bar (the divider between sections). */
.mat-progress-bar-fill::after {
    background: #512da8;
}
