<!-- 
@author Benjamin Scarbrough
@version 1.0.0
This is the HTML file for the experience component of the bscarbrough.com project.
 -->

<!doctype html>
<div class="experience" id="Experience">
    <div class="experience-title">
        <div class="experience-title-name">
            <p>Work Experience</p>
        </div>
        <br />
        <mat-progress-bar mode="query"></mat-progress-bar>
    </div>
    <div class="experience-content">
        <mat-tab-group dynamicHeight mat-align-tabs="center">
            <mat-tab *ngFor="let i of workExperience" label="{{i.title}}">
                <div class="position-and-company">
                    <span class="position-header">{{i.position}}</span>
                    <span class="company-header">{{i.company}}</span>
                    <!-- <span class="location-header">{{i.location}}</span> -->
                    <br />
                    <span class="date-header">{{i.date}}</span>
                    <br />
                    <span class="summary-header">{{i.summary}}</span>
                    <br />
                </div>
                <ul class="summary-bullets">
                    <li *ngFor="let d of i.description">{{d}}</li>
                </ul>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>