<div class="experience" id="Experience">
    <div class="experience-content">
        <title>Experience </title>
        <!--Job Experience 1-->
        <p>
            <b>Software Engineer</b> <br>
            <b>PopOver Startup</b> - Tacoma, WA <br>
            May 2019 - May 2020 <br>
            Determined and formulated policies for the company’s technical direction. Administrated and designed a
            complex project database and repository.
        </p>
        <ul>
            <li>Created and designed critical parts of the application such as account creation, verification, login,
                and password reset from scratch.</li>
            <li>Created and maintained a SQL database consisting of confidential client information.</li>
            <li>Assisted with the creation of various PowerPoint presentations and talking points in order to secure
                funding from potential investors through victory in various startup competitions.</li>
            <li>Lead and assisted a team of software engineers in creating use cases for the application, and any
                operations issues they encountered.</li>
        </ul>

        <!--Job Experience 2-->
        <p>
            <b>Grounds Maintenance Worker</b> <br>
            <b>University of Puget Sound</b> - Tacoma, WA <br>
            January 2018 - December 2019 <br>
            Supported a campus wide improvement plan designed to create a safe, pleasant, and functional environment.
        </p>
        <ul>
            <li>Lead a team of student grounds workers in completing various grounds maintenance tasks.</li>
            <li>Acknowledged by the Grounds Manager as crucial to the success of the Grounds department due to great
                leadership, problem solving, and time management skills.</li>
            <li>Made on the fly decisions about which tasks to complete and how in order to meet various deadlines.</li>
        </ul>

        <!--Job Experience 3-->
        <p>
            <b>Highway Traffic Data Researcher</b> <br>
            <b>State of Alaska Department of Transportation</b> - Anchorage, AK <br>
            May 2018 - August 2018 <br>
            Collected data from over 800 individual road segments in support of a multi million-dollar statewide
            initiative to maintain and upgrade road infrastructure.
        </p>
        <ul>
            <li>Took on a leadership role amongst the interns and completed the most work of any prior group of interns.
            </li>
            <li>Vital in meeting the State of Alaska's data collection goals during a time when the department was short
                staffed.</li>
            <li>Reduced workload for the full-time staff by excelling at my duties and taking on extra tasks and
                responsibilities.</li>
        </ul>

        <!--Job Experience 4-->
        <p>
            <b>Member Service Representative & Teller</b> <br>
            <b>Credit Union 1</b> - Anchorage, AK <br>
            June 2015 - August 2017 <br>
            Interacted with Credit Union members in person and over the phone in order to provide exceptional support
            for all offered products and services, as well as resolving any banking related issues.
        </p>
        <ul>
            <li>Responsible for the handling and safety of up to 1 Million USD.</li>
            <li>Ensured accuracy of all types of transactions, including payments on home and auto loans.</li>
            <li>Sold loans, money orders, and account upgrades to new and existing members of the credit union.</li>
        </ul>


    </div>
</div>